@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/*@tailwind base;*/
.container{
  width: 100%;
}
@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}
@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}
@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}
@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.mt-16{
  margin-top: 4rem;
}
.mt-8{
  margin-top: 2rem;
}
.flex{
  display: flex;
}
.cursor-pointer{
  cursor: pointer;
}
.gap-3{
  gap: 0.75rem;
}
.rounded{
  border-radius: 0.25rem;
}
.bg-blue-300{
  --tw-bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.font-bold{
  font-weight: 700;
}
.uppercase{
  text-transform: uppercase;
}
.shadow{
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

html,
body {
  font-family: "Roboto", sans-serif;
}

html, body{
  margin: 0px;
  padding: 0px;
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}

a{
  font-weight: 600;
  color: currentColor;
  text-decoration: none;
}